{% load static %}

<nav class="fixed top-0 z-50 w-full bg-slate-100 border-b border-gray-200 dark:bg-dark-theme-bg dark:border-theme-grey">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        <a href="{% url 'home' %}" class="flex ms-2 md:me-24">
          <span class="self-center text-2xl font-serif sm:text-3xl md:text-4xl whitespace-nowrap dark:text-white">Author Newsletter</span>
        </a>
      </div>
      <div class="flex items-center">
          <button
              data-drawer-target="logo-sidebar"
              data-drawer-toggle="logo-sidebar"
              aria-controls="logo-sidebar"
              type="button"
              class="inline-flex items-center md:hidden p-2 text-sm text-gray-500 rounded-lg  hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
      </div>
    </div>
  </div>
</nav>

<aside
    id="logo-sidebar"
    class="fixed top-0 left-0 z-40 w-40 h-screen pt-20 transition-transform -translate-x-full bg-slate-100 border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-dark-theme-grey" aria-label="Sidebar">
   <div class="h-full px-3 pb-4 overflow-y-auto">
      <ul class="space-y-2 font-medium">
          <li>
            <a href="{% url 'articles' %}" class="sidebar-item group">
               <span>Articles</span>
            </a>
         </li>
         <li>
            <a href="{% url 'customer:signup' %}" class="sidebar-item group">
               <span>Signup</span>
            </a>
         </li>
      </ul>
   </div>
</aside>

